{% load static %}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'blog/registration/css/styles.css' %}" media="screen" type="text/css" />
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
</head>
<body>
    <div class="container">
        <div id="login">

            <form method="post">
            {% csrf_token %}
                <div class="form-error">{{ form.non_fields_errors }}</div>
                <fieldset class="clearfix">

                    <p><span class="fontawesome-user"></span>
                    <input type="text" name="username" id="usernameInput" placeholder="Username" required></p>

                    <p><span class="fontawesome-lock"></span>
                    <input type="password" name="password" id="passwordInput" placeholder="Password"  required></p>

                    <p><input type="submit" value="Sign In"></p>

                </fieldset>
            </form>

            <p>Not a member? <a href="{% url "register" %}">Sign up now</a><span class="fontawesome-arrow-right"></span></p>
        </div> <!-- end login -->
    </div>
    <script src="{% static 'blog/registration/js/login_placeholder.js' %}"></script>
</body>
</html>